<aside class="aside aside--catalog">
    <ul class="catalog__list">
        <li class="catalog__item"><a href="#" class="catalog__link">Протеин</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Аминокислоты</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Гейнеры</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Витамины и минералы</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Креатин</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Жиросжигатели</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Тренировочные комплексы</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Аксессуары и Одежда</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Протеиновые батончики</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Повышение тестостерона</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Низкокалорийные продукты</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Питание для вегетарианцев</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Для связок и суставов</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Энергетики</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Мышечная масса</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Спец. препараты</a></li>
        <li class="catalog__item"><a href="#" class="catalog__link">Ферменты</a></li>
    </ul>
</aside>