.aside--catalog {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 12px 0 10px 0;
}

.catalog {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -1px;
    width: 407px;
    background: #fff;
    border: 1px solid #408DD5;
    border-radius: 10px 0px 10px 10px;
    padding-top: 48px;
    padding-bottom: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in-out;

    &.hover {
        opacity: 1;
        pointer-events: all;
    }

    &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: 0;
        z-index: 1;
        width: 234px;
        height: 1px;
        background: #fff;
    }

    .catalog__item {
        
        max-width: 269px;
    }
}

.catalog__list {

}

.catalog__item {
    font-size: 15px;
    color: #408DD5;

    &:last-child {

        .catalog__link {
            
            &::before {
                display: none;
            }
        }

        .menu_lvl {

            .catalog__link {

                &::before {
                    display: block;
                }
            }
        }
    }

    &:hover {
         .menu_lvl {
            display: block;
        }
    }

    .catalog__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 0 23px;
        padding-top: 7px;
        padding-bottom: 8.5px;
        transition: 0.2s ease-in-out;

        &:hover {
            background: #F8F8F8;
            color: #D65959;
        }

        &::after {
            content: '';
            position: absolute;
            right: 25px;
            top: 9px;
            width: 6px;
            height: 12px;
            display: block;
            background: url(../img/arrow_right.svg) center no-repeat;
            pointer-events: none;
        }

        &:before {
            content:'';
            position: absolute;
            left: 25px;
            bottom: 0;
            display: block;
            width: calc(100% - 25px);
            height: 1px;
            background: linear-gradient(to right, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
        }
    }

    .menu_lvl {
        position: absolute;
        top: -1px;
        left: calc(100% - 136px);
        display: none;
        width: 260px;
        height: calc(100% + 2px );
        background: #fff;
        border: 1px solid #408DD5;
        border-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 65px;
        box-shadow: inset 17px 0 13px -14px rgba(0,0,0,.04);

        .menu__title {
            display: block;
            margin-bottom: 5px;
            padding-left: 20px;
            font-family: 'ProximaNovaCondensed';
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: #616161;
        }

        .catalog__item {
            padding-right: 26px;
        }

        .catalog__link {
            padding-right: 0;
            padding-left: 19px;

            &::after {
                display: none;
            }
        }
    }
}