.aside--catalog {

}

.catalog {
    position: absolute;
    z-index: 2;
    top: 100%;
    right: -1px;
    width: 407px;
    background: #fff;
    border: 1px solid #408DD5;
    border-radius: 10px 0px 0px 10px;
    padding-top: 70px;
    padding-bottom: 10px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-in-out;

    &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: 0;
        z-index: 1;
        width: 234px;
        height: 1px;
        background: #fff;
    }

    .catalog__item {
        
        max-width: 270px;
    }
}

.catalog__list {

}

.catalog__item {
    font-size: 15px;
    color: #408DD5;

    

    .catalog__link {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        padding: 6px 25px;
        transition: 0.2s ease-in-out;

        &:hover {
            background: #F8F8F8;
            color: #D65959;
        }

        &::after {
            content: '';
            position: absolute;
            right: 25px;
            top: 9px;
            width: 6px;
            height: 12px;
            display: block;
            background: url(../img/arrow_right.svg) center no-repeat;
            pointer-events: none;
        }

        &:before {
            content:'';
            position: absolute;
            left: 25px;
            bottom: 0;
            display: block;
            width: 100%;
            height: 1px;
            background: linear-gradient(to right, rgba(227,227,227,1) 0%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%);
        }
    }

    .menu_lvl {
        position: absolute;
        top: -1px;
        left: calc(100% - 129px);
        width: 258px;
        height: calc(100% + 2px );
        background: #fff;
        border: 1px solid #408DD5;
        border-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 70px;

        .menu__title {
            display: block;
            margin-bottom: 10px;
            padding-left: 25px;
            font-family: 'ProximaNovaCondensed';
            font-weight: 500;
            font-size: 16px;
            text-transform: uppercase;
            color: #616161;
        }
    }
}