
@font-face {
     font-family: ProximaNova;
     src: url(../fonts/ProximaNova/ProximaNovaRegular.woff);
     font-style: normal;
     font-weight:400
}
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaSemibold.woff);
    font-style: normal;
    font-weight:500;
 }
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova/ProximaNovaBold.woff);
    font-style: normal;
    font-weight:700;
}
@font-face {
    font-family: ProximaNovaCondensed;
    src: url(../fonts/ProximaNovaCondensed/ProximaNovaCondensedRegular.woff);
    font-style: normal;
    font-weight:400;
}
@font-face {
    font-family: ProximaNovaCondensed;
    src: url(../fonts/ProximaNovaCondensed/ProximaNovaCondensedSemibold.woff);
    font-style: normal;
    font-weight:500;
}