.header {
    position: relative;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.header_promo {
    width: 100%;
    height: 40px;

    a {
        display: block;
        height: 100%;
    }

    img {
        height: 100%;
    }
}

.header__content {

    .header__list {
        display: flex;

    }

    .header__link {
        margin-right: 35px;
        transition: 0.2s ease-in-out;

        @media (max-width: 1440px) {
            margin-right: 15px;
        }

        &:hover {
            color: #408dd5;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
    padding-bottom: 16px;
    font-size: 15px;

    @media (max-width: 1240px) {
        font-size: 12px;
    }
    @media (max-width: 1023px) {
        display: none;
    }

    .header__dropdown_wr {
        display: flex;
    }

    .header__dropdown {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 54px;
        cursor: pointer;
        transition: 0.2s ease-in-out;

        @media (max-width: 1440px) {
            margin-right: 15px;
        }

        &:hover {

            .text,
            .select-placeholder {
                color: #408dd5;
            }

            .text {

                &::after {
                    background: url(../img/arrow_down_blue.svg) center no-repeat;
                }
            }
           
        }

        .text {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &::after {
                content: "";
                display: inline-block;
                width: 14px;
                height: 7px;
                margin-left: 7px;
                background: url(../img/arrow_down.svg) center no-repeat;    
                transition: 0.2s ease-in-out;   
            }
        }
        

        &:last-child {
            margin-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width: 1023px) {
        align-items: center;
    }

    .logo {
        width: 140px;
        height: 39px;
        margin-right: 31px;
        margin-bottom: 14px; 

        @media (max-width: 1023px) {
            width: 108px;
            height: 22px;
            margin: 0;
        }
    }

    .header__catalog_btn {
        position: relative;
        display: flex;
        align-items: center;
        height: 70px;
        width: 236px;
        margin-right: 50px;
        border: 1px solid #408DD5;
        border-bottom: 0;
        padding-left: 25px;
        border-radius: 5px 5px 0px 0px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        cursor: pointer;

        @media (max-width: 1023px) {
            display: none;
        }

        &:hover {
            
            .catalog {
                opacity: 1;
		        pointer-events: all;
            }
            
            .text {

                &:after {
                    transform: rotate(180deg);
                }
            }
        }

        &.focus {
            margin-right: 20px;
        }

        .text {
            position: relative;
            font-family: ProximaNovaCondensed, sans-serif;
            font-weight: 500px;
            color: #408DD5;
            text-transform: uppercase;
            letter-spacing: 0.3px;

            &:after {
                content: '';
                position: absolute;
                right: -31px;
                top: 5px;
                display: block;
                width: 17px;
                height: 10px;
                background: url(../img/arrow_down_blue.svg) center no-repeat;
                background-size: cover;
                transform-origin: center;
                transition: 0.2s ease-in-out;
            }
        }
    }

    .header__search {
        position: relative;
        flex-grow: 1;
        margin-bottom: 22px;
        margin-right: 50px;

        @media (max-width: 1023px) {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            margin: 0;
            padding: 0 20px;
            padding-bottom: 20px;
            background: #fff;
        }

        &.focus {
            background: #FFFFFF;
            box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding-top: 13px;
            margin-right: 20px;
            padding-left: 30px;
            padding-right: 30px;

            @media (max-width: 1023px) {
                box-shadow: none;
                padding: 0 20px;
                padding-bottom: 20px;
                margin: 0;
            }

            &:before { 
                right: 30px;

                @media (max-width: 1023px) {
                   right: 20px;
                }
            }   

            .input--search {
                border-bottom: 1px solid #408DD5;
            }
        }
        
        &:before {
            content: '';
            position: absolute;
            bottom: 10px;
            right: 0;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../img/magnifying.svg) center no-repeat;

            @media (max-width: 1023px) {
                bottom: 29px;
                right: 20px;
            }
        }

        .input--search {
            height: 35px;
        }

        .search__list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100% ;
            padding: 0 30px 17px 34px;
            background: #FFFFFF;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            opacity: 0;
            pointer-events: none;
            transition: 0.3s ease-in-out;
            
            @media (max-width: 1023px) {
                padding: 0 20px 20px 20px;
            }
            &.focus {
                z-index: 2;
                opacity: 1;
                pointer-events: all;
            }
        }

        .search__item {
            display: flex;
            padding: 15px 0;
            padding-bottom: 14px;
            border-bottom: 1px solid #F2F2F2;
            
            .img_wr {
                display: flex;
                justify-content: center;
                width: 40px;
                height: 45px;
                margin-right: 19px;

                img {
                    width: auto;
                }
            }
        }

        .search__describe {
            display: flex;
            flex-direction: column;
        }

        .search__name {
            margin-bottom: 7px;
            font-size: 14px;
            color: #408DD5;
        }

        .search__price {
            font-weight: 500;

            .price {
                font-size: 20px;
            }
        }

        .search__all {
            display: block;
            margin-top: 16px;
            font-size: 14px;
            color: #408DD5;
        }

        .marker {
            background: #E8F3FD;
        }
    }

    .header__btns {
        display: flex;

        .header__btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            background: #FFFFFF;
            box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 5px 5px 0px 0px;

            @media (max-width: 1023px) {
                box-shadow: none;
                width: 45px;
            }

            path {

                transition: 0.2s ease-in-out;
            }
        }

        .btn_wr {
            position: relative;
            margin-right: 3px;

            &:last-child {
                margin-right: 0;
            }
            
            &:hover {

                path {
                    fill: #408DD5;
                }
            }
        }

        .counter {
            position: absolute;
            top: 11px;
            right: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background: #78AF29;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;

            @media (max-width: 1023px) {
                right: 0;
            }
        }
    }
}

.header__left {
    display: flex;
    align-items: center;
}

.menu_toggle {
    width: 31px;
    height: 21px;
    display: none;
    margin-right: 30px;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    @media (max-width: 1023px) {
    	display: block;
    }



    span {
	    display: block;
	    position: absolute;
	    height: 3px;
	    width: 100%;
	    background: #404040;
	    border-radius: 100px;
	    opacity: 1;
	    left: 0;
	    transform: rotate(0deg);
	    transition: .25s ease-in-out;

	    &:first-child {
    		top: 0;
		}

		&:nth-child(2) {
    		top: 9px;
		}

		&:nth-child(3) {
    		top: 9px;
		}

		&:nth-child(4) {
    		top: 18px;
		}
	}

	&.open span:nth-child(1) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}

	&.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}

	&.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}

	&.open span:nth-child(4) {
	  top: 18px;
	  width: 0%;
	  left: 50%;
	}
}

.mobile_menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: none;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: 0.5s ease-in-out;
    background: #fff;

    @media (max-width: 1023px) {
        display: block;
    }

    &.open {
        transform: translateX(0);
    }

    .menu__nav {

        .menu__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 64px;
            padding-left: 30px;
            padding-right: 28px;

            .menu_toggle {
                margin-right: 32px;
            }
        }

        .menu__language {
            font-size: 18px;
            color: #616161;

            .active {
                color: #C4C4C4;
            }

            a {
                &:first-child {
                    margin-right: 19px;
                    padding-right: 19px;
                    border-right: 1px solid #D9D9D9;
                }
            }
        }

        .catalog__list {
            padding-top: 25px;
        }

        .catalog__link {
            padding-top: 11px;
            padding-bottom: 11px;
            padding-left: 36px;
            font-size: 18px;
            font-weight: 500;

            &:not(.with_arrow) {

                &:after {
                    display: none;                
                }
            }

            
        }
    }

    .menu__contacts {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 39px;
        padding-right: 55px;
        padding-top: 30px;

        .menu__contacts_link {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            font-size: 22px;

            &.phone {

                &::before {
                    content: '';
                    display: block;
                    width: 19px;
                    height: 18px;
                    margin-right: 11px;
                    background: url(../img/phone.svg) center no-repeat;
                    background-size: cover;
                }
            }

            &.kyivstar {

                &::before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;
                    background: url(../img/kyivstar.svg) center no-repeat;
                    background-size: cover;
                }
            }
            &.lifecell {

                &::before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;
                    background: url(../img/lifecell.svg) center no-repeat;
                    background-size: cover;
                }
            }
            &.vodafone {

                &::before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin-right: 7px;
                    background: url(../img/vodafone.svg) center no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}