.header {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
}

.header_promo {
    width: 100%;
    height: 40px;

    a {
        display: block;
        height: 100%;
    }

    img {
        height: 100%;
    }
}

.header__content {

    .header__list {
        display: flex;

    }

    .header__link {
        margin-right: 36px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.header__top {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 17px;
    font-size: 15px;

    .header__dropdown_wr {
        display: flex;
    }

    .header__dropdown {
        position: relative;
        display: flex;
        align-items: center;
        margin-right: 53px;
        cursor: pointer;

        &::after {
            content: "";
			display: inline-block;
			width: 12px;
			height: 6px;
			margin-left: 9px;
			background: url(../img/arrow_down.svg) center no-repeat;       
        }

        &:last-child {
            margin-right: 0;

            &::after {
                display: none;
            }
        }
    }
}

.header__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .logo {
        width: 140px;
        height: 39px;
        margin-right: 30px;
        margin-bottom: 14px; 
    }

    .header__catalog_btn {
        position: relative;
        margin-right: 50px;
        border: 1px solid #408DD5;
        border-bottom: 0;
        border-radius: 5px 5px 0px 0px;
        padding: 24px 28px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
        cursor: pointer;

        &:hover {
            
            .catalog {
                opacity: 1;
		        pointer-events: all;
            }
        }

        &.focus {
            margin-right: 20px;
        }

        .text {
            display: flex;
            align-items: center;
            font-family: ProximaNovaCondensed, sans-serif;
            font-weight: 500px;
            color: #408DD5;
            text-transform: uppercase;

            &:after {
                content: '';
                display: block;
                width: 16px;
                height: 6px;
                margin-left: 14px;
                background: url(../img/arrow_down_blue.svg) center no-repeat;
            }
        }
    }

    .header__search {
        position: relative;
        flex-grow: 1;
        margin-bottom: 22px;
        margin-right: 50px;
        transition: 0.3s ease-in-out;

        &.focus {
            background: #FFFFFF;
            box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 5px;
            padding-top: 13px;
            margin-right: 20px;
            padding-left: 30px;
            padding-right: 30px;

            &:before { 
                right: 30px;
            }   

            .input--search {
                border-bottom: 1px solid #408DD5;
            }
        }
        
        &:before {
            content: '';
            position: absolute;
            bottom: 10px;
            right: 0;
            display: block;
            width: 16px;
            height: 16px;
            background: url(../img/magnifying.svg) center no-repeat;
        }

        .input--search {
            height: 35px;
        }

        .search__list {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100% ;
            padding: 0 30px 17px 30px;
            background: #FFFFFF;
            box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.05);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            opacity: 0;
            pointer-events: none;
            transition: 0.3s ease-in-out;
            
            &.focus {
                opacity: 1;
                pointer-events: all;
            }
        }

        .search__item {
            display: flex;
            padding: 15px 0;
            border-bottom: 1px solid #F2F2F2;
            
            .img_wr {
                display: flex;
                justify-content: center;
                width: 40px;
                height: 45px;
                margin-right: 19px;

                img {
                    width: auto;
                }
            }
        }

        .search__describe {
            display: flex;
            flex-direction: column;
        }

        .search__name {
            margin-bottom: 7px;
            font-size: 14px;
            color: #408DD5;
        }

        .search__price {
            font-weight: 500;

            .price {
                font-size: 20px;
            }
        }

        .search__all {
            display: block;
            margin-top: 15px;
            font-size: 14px;
            color: #408DD5;
        }

        .marker {
            background: #E8F3FD;
        }
    }

    .header__btns {
        display: flex;

        .header__btn {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 70px;
            height: 70px;
            margin-right: 3px;
            background: #FFFFFF;
            box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.05);
            border-radius: 5px 5px 0px 0px;

            

            &:last-child {
                margin-right: 0;
            }

            path {

                transition: 0.2s ease-in-out;
            }
        }

        .btn_wr {
            position: relative;
            
            &:hover {

                path {
                    fill: #408DD5;
                }
            }
        }

        .counter {
            position: absolute;
            top: 11px;
            right: 11px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 21px;
            height: 21px;
            border-radius: 50%;
            background: #78AF29;
            font-size: 14px;
            text-align: center;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
}